In [3]:
import pandas as pd 
import numpy as np

In [4]:
pd.read_csv('./data/tableau_job.csv')

,job_id,user_id,category,area,rooms,bathrooms,housing_type,price,post_date,city,district,address,latitude,longitude
0,1,99,빌라,31.2,2,2,본인 소유,77642,2025-05-08,서울특별시,동작구,서울특별시 동작구,37.521369,126.944572
1,2,224,빌라,41.5,2,1,임대,33752,2025-01-22,서울특별시,강서구,서울특별시 강서구,37.549204,126.839949
2,3,235,빌라,92.0,2,3,임대,198456,2025-06-15,서울특별시,강남구,서울특별시 강남구,37.564934,126.970646
3,4,34,빌라,86.4,5,2,본인 소유,202468,2025-01-27,서울특별시,용산구,서울특별시 용산구,37.539484,126.968428
4,5,57,빌라,40.1,5,1,임대,234137,2025-06-22,서울특별시,성동구,서울특별시 성동구,37.545930,127.045544
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
926,927,74,단독주택,82.3,2,1,임대,24677,2025-06-20,서울특별시,중구,서울특별시 중구,37.563670,127.001609
927,928,231,단독주택,35.2,5,1,임대,281484,2025-02-10,서울특별시,구로구,서울특별시 구로구,37.501638,126.893559
928,929,186,단독주택,87.3,5,1,본인 소유,251876,2025-03-07,서울특별시,금천구,서울특별시 금천구,37.463899,126.900124
929,930,174,단독주택,81.6,5,3,본인 소유,275415,2025-06-20,서울특별시,서초구,서울특별시 서초구,37.491119,127.029247
930,931,50,단독주택,79.9,5,1,임대,240144,2025-05-11,서울특별시,금천구,서울특별시 금천구,37.457253,126.897158